*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

button{
    font-family: retro2;
}

h1{
    position: relative;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;
    width: 300px;
    font-family: retro;
}

.placar{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 260px;
    z-index: 3;
    font-family: retro2;
    animation: placar-animation;
    background-color: #333;
    border-radius: 10px;
    color: white;
}

@font-face {
    font-family: retro;
    src: url(fonte/V5Xtende.ttf);
 }

 @font-face {
    font-family: retro2;
    src: url(fonte/wide_pixel-7.ttf);
 }

.fundo{
    height: 132vh;
    background: #b4c6d4;
}

.game-board{
    width: 80%;
    top: 30px;
    height: 500px;
    border: 1px groove #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-bottom-color: #62c91c;
    border-bottom-width: 20px;
    background: linear-gradient(#5aabe8, white);
}


.nuvens{
    position: absolute;
    width: 500px;
    animation: nuvens 7s infinite linear;
}

.pipe{
    position: absolute;
    width: 200px;
    bottom: -20px;
    z-index: 1;
    animation: pipe-animation 2s infinite linear;
}

.mario{
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 150px;
}

.over{
    width: 90px;
    bottom: 80px;
    left: 80px;
}

.retry{
    position: relative;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.jump{
    animation: jump 700ms ease-out;
}

.txt{
    position: absolute;
    top: 800px;
    left: 50%;
    transform: translateX(-50%);
    font-family: retro2;
    font-size: 20px;
    text-align: center;
}

.overScreen{
    position: absolute;
    display: none;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
}

@keyframes pipe-animation {
    from{
        right: -136px;
    }
    to{
        right: 90%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    30%{
        bottom: 140px;
    }
    40%{
        bottom: 140px;
    }
    50%{
        bottom: 140px;
    }
    60%{
        bottom: 140px;
    }
    100%{
        bottom: 0px;
    }
}

@keyframes nuvens {
    from{
        right: -510px;
    }
    to{
        right: 100%;
    }
}

@keyframes placar-animation {
    from{
        background-color: blue;
    }
    to{
        background-color: #333;
    }
}
